html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px; /* Margin bottom by footer height */
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color:black;
	color:#dddddd;
	padding: 18px 0;
}

.custom-nav.scrolled {
	background-color:rgba(160, 175, 175, 0.9) !important;
	transition: background-color 200ms linear;
}

.fixed-top.scrolled {
	background-color:rgba(160, 175, 175, 0.9) !important;
	transition: background-color 200ms linear;
}

.fixed-top {
	background-color:#292b2c !important;
	transition: background-color 200ms linear;
}

.fixed-top:hover {
	background-color:#292b2c !important;
	transition: background-color 200ms linear;
}